html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom right, #3B3B3B 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
  background-attachment: fixed;
  color: #fff;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 42px;
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
}

h2, p {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  margin-top: 10px;
  line-height: 1.5;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 200px auto 20px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.product-card {
  background-color: #262626;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card:hover {
  transform: scale(1.1);
}

.product-card img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-card p {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-card button {
  background-color: #ff9933;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  margin-top: 10px;
}

.product-card button:hover {
  background-color: #ff6600;
}

.product-card-overlay {
  background-color: #262626;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.product-card-overlay .product-details {
  padding: 40px;
  text-align: left;
}

.product-card-overlay .product-details-text {
  align-items: center;
  margin-bottom: -50px;
}

.product-details-updatetime {
  text-align: right;
  padding-right: 40px;
  margin-top: -13%;
}

.product-details-update {
  text-align: left;
  padding-left: 40px;
  margin-top: 3%;
}

.product-details-ps {
  text-align: left;
  padding-left: 40px;
  margin-top: 5%;
}

.product-details-description {
  text-align: left;
  padding-left: 40px;
  margin-top: -10%;
}

.product-card-overlay .product-image {
  text-align: right;
  margin-left: 10px;
}

.product-card-overlay img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: -60px;
}

.product-card-overlay h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-card-overlay p {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-card-overlay .button-group {
  display: flex;
  justify-content: flex-end;
}

.product-card-overlay button {
  background-color: #ff9933;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 40px;
}

.button-group-overlay
{
    display: flex;
    justify-content: flex-end;
}

.product-card-overlay button:hover {
  background-color: #ff6600;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

#details-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  display: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ff6600;
  cursor: pointer;
}

.details-card {
  width: 1000px;
  height: 500px;
}

/* Общие стили */

/* Стили для мобильных устройств (ширина экрана до 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: 28px;
    margin-top: 50px;
  }

  .product-card,
  .product-card-overlay {
    width: 100%;
  }

  .product-card-overlay {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 80vh; /* Ограничиваем максимальную высоту */
  }

  .product-details-description, .product-details-update
  {
    margin-left: -10%;
  }

  .product-details-updatetime
  {
    text-align: left;
  }

  .product-card-overlay .product-details, .product-details-updatetime, .product-details-ps {
    padding: 20px;
  }

  .button-group-overlay
  {
    margin-left: 10%;
    width: 100%;
  }

  .product-card-overlay .product-image {
    margin: 0;
  }

  .product-card-overlay img {
    margin-bottom: 10px;
    margin-top: 35%;
  }
}

/* Стили для планшетов и небольших ноутбуков (ширина экрана от 481px до 1024px) */
@media (min-width: 481px) and (max-width: 650px) {
  h1 {
    font-size: 36px;
    margin-top: 80px;
  }

  .product-details-description, .product-details-update
  {
    margin-left: -5%;
  }

  .product-details-updatetime
  {
    text-align: left;
  }

  .product-card-overlay .product-details, .product-details-updatetime, .product-details-ps {
    padding: 20px;
  }

  .button-group-overlay
  {
    margin-left: 10%;
    width: 100%;
  }

  .product-card-overlay .product-image {
    margin: 0;
  }

  .product-card-overlay img {
    margin-bottom: 10px;
    margin-top: 20%;
  }

  .product-card-overlay {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 80vh; /* Ограничиваем максимальную высоту */
  }

  .product-card-overlay {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 651px) and (max-width: 1024px) {
  h1 {
    font-size: 36px;
    margin-top: 80px;
  }

  .product-details-description, .product-details-update {
    margin-left: -5%;
  }

  .product-details-updatetime {
    text-align: left;
  }

  .product-card-overlay .product-details, .product-details-updatetime, .product-details-ps {
    padding: 20px;
  }

  .button-group-overlay {
    margin-left: 10%;    
    display: flex; /* Добавьте свойство display: flex; */
    justify-content: center; /* Добавьте свойство justify-content: center; */
  }

  .product-card-overlay .product-image {
    margin: 0;
    float: left; /* Добавьте свойство float: left; */
  }

  .product-card-overlay img {
    margin-bottom: 10%;
    margin-top: 20%;
    object-fit: contain;
  }

  .product-card-overlay {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 80vh;
  }

  .product-card-overlay {
    width: 100%;
    height: 100%;
  }
}


/* Стили для больших экранов (ширина экрана больше 1024px) */
@media (min-width: 1025px) {
  h1 {
    font-size: 42px;
    margin-top: 100px;
  }

  .product-card-overlay {
    overflow-y: hidden; /* Скрываем скролл */
  }

  .product-card {
    width: 300px;
  }
}
